---
---
<div class="fixed top-0 left-0 w-full h-1 z-50 origin-left scale-x-0 bg-accent reading-progress"></div>

<style>
  .reading-progress {
    animation: progress auto linear;
    animation-timeline: scroll(root block);
  }

  @keyframes progress {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
</style>
